.loading-indicator{
    transition: all 300ms ease-in-out;
    animation: fadein 300ms ease-in-out;
    align-self: center;
    font-size: 2rem;
    text-align: center;
    color:rgba(255,255,255,0.7);
}